{erl_opts, [debug_info]}.
{deps, [
    {kafcod, {git, "https://github.com/happening-oss/kafcod", {branch, "main"}}},

    {ranch, "2.1.0"},
    {uuid, "2.0.7", {pkg, uuid_erl}}
]}.

{profiles, [
    {test, [
        {deps, [
            {meck, "0.9.2"}
        ]}
    ]}
]}.

{shell, [
    {config, "config/shell.config"},
    {apps, [kamock]},
    % Don't reload ranch -- ranch crashes on the second reload.
    {app_reload_blacklist, [ranch]}
]}.

{project_plugins, [
    rebar3_lint,

    covertool,

    {rebar3_eunit_start,
        {git, "https://github.com/rlipscombe/rebar3_eunit_start.git", {tag, "0.1.0"}}}
]}.
{provider_hooks, [{pre, [{eunit, {default, rebar3_eunit_start}}]}]}.

{eunit_opts, [
    {start_modules, [test_helper]},
    {sys_config, ["config/eunit.config"]}
]}.

{cover_export_enabled, true}.
{covertool, [{coverdata_files, ["ct.coverdata", "eunit.coverdata"]}]}.

{dialyzer, [
    {plt_extra_apps, [
        kafcod,
        uuid
    ]}
]}.
