[
    {kernel, [
        {logger_level, info},

        {logger, [
            % rebar3 eunit/auto appears to ignore module_level.
            {module_level, none, [application_controller, supervisor_bridge, supervisor]},
            % so we have to do it this way instead
            {filters, log, [{stop_progress, {fun logger_filters:progress/2, stop}}]},

            {handler, default, logger_std_h, #{
                formatter =>
                    {logger_formatter, #{
                        template => [
                            time,
                            " ",
                            "[",
                            level,
                            "]",
                            {pid, [" ", pid, ""], ""},
                            {mfa, [" ", mfa, ":", line], ""},
                            ": ",
                            msg,
                            "\n"
                        ],
                        chars_limit => 2000,
                        depth => 20,
                        single_line => false
                    }}
            }}
        ]}
    ]}
].
